<nav class="bg-red-500">
        <div>
            <span>Pomodoro</span>
        </div>
        <div>
            <li class="flex items-center justify-around text-center">
            <div>
                <a [routerLink]="['/home']">Home</a>
                <a [routerLink]="['/pomodoro']">Pomodoro</a>
                <a [routerLink]="['/stats']">Stats</a>
                <span *ngIf="signedOut$ | async" (click)="signOut()" class="cursor-pointer">X</span>
            </div>
            </li>
        </div>
</nav>