nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 8vh;
    width: 100vw;
    padding: 0 5rem;
    justify-content: space-between;

    div{
        margin: 0 10px;

        span{
            font-size: 27px;            
        }

        li{
            list-style: none;
            font-size: 18px;
            a{
                margin: 0 1em;
                cursor: pointer;
            }
        }
    }
}